<div class="info-box clearfix">
  <div class="wrapper-content">
    <div class="info-social">
      <ul class="info-social-list">
        {% if site.github %}
        <li>
          <a href="{{ site.github }}" target="_blank" aria-label="View Julyvee on Github">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
        {% else %}
        {% endif %} 
        {% if site.linkedin %}
        <li>
          <a href="{{ site.linkedin }}" target="_blank" aria-label="View Julia Valder on LinkedIn">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        {% else %}
        {% endif %} 
      </ul>
    </div>
   <!--<div class="info-newsletter">
      <div class="newsletter">
        <form class="newsletter-form validate" action="{% if site.mailchimp %}//{{site.mailchimp}}{% else %}#{% endif %}" method="POST"
          id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
          <div class="c-newsletter-form-group">
            <label class="screen-reader-text" for="mce-EMAIL">Enter your email address</label>
            <input class="c-newsletter-email required email" id="mce-EMAIL" type="email" name="EMAIL" placeholder="Enter your email address"
              autocomplete="on">
            <input class="newsletter-button" id="mc-embedded-subscribe" type="submit" name="subscribe" value="Subscribe">
          </div>
        </form>
      </div>
    </div>-->
  </div><!-- /.info-wrapper -->
</div> <!-- /.info-box -->