$white: #ffffff;
$grayish: #f7f7f7;
$lightengray: #787878;
$gray: #5b5b5b;
$darkgray: #323232;
$black: #000000;

$black: #000000;
$black-highlighted: rgba(67, 67, 67, 0.7);
$black-transparency: rgba(207, 207, 207, 0.5);
$grayblue: #7b7f90;
$lightblue: #bbc3cb;
$lightpurple: #999eb5;

$turquoisergba: rgba(0, 197, 217, 0.6);
$light-turquoisergba: rgba(0, 197, 217, 0.1);